html {
  /* background-color: #f3d2d2; */
  /* min-height: 100%; */
}
body {
  background-color: #f3d2d2;
  height: 100%;
  scroll-behavior: smooth;
}

.hero {
  padding-top: 2%;
}

.title {
  font-size: 3em;
}

.box {
  -webkit-transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1.01);
  -moz-transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1.01);
  transition: transform 1s cubic-bezier(0.22, 0.61, 0.36, 1.01);
}

.box:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.spinner {
  left: 50% !important;
  top: 100px !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
  min-width: 30%;
}

.subtitle strong {
  color: whitesmoke;
}

.footer {
  background-color: #f3d2d2;
}

.home {
  padding-top: 5%;
}

.input-top {
  margin-top: 20px;
}
